.header-image{
    background-image: url("images/podcuts.jpg");   
    background-position: center;   
    height: 500px; 
}
.navbar-collapse{
    margin-bottom: 37%; 
}
.navbar-brand{
    margin-bottom: 37%;
}
 
 
 